.sign-up-form,
.login-form {
    max-width: 500px;
    padding: 40px 40px;
}

.sign-up-form div,
.sign-up-form button,
.login div,
.login button {
    margin-top: 20px;
}

.input-not-valid {
    border: red solid 1px;
}

a {
    text-decoration: none;
}